.weatherContainer {
  margin-top: 25px;
}

.dateAndLocation {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 14px;
  text-align: right;
}

.city {
  font-size: 32px;
  margin-top: 15px;
}

.currentWeather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  text-transform: capitalize;
  margin-top: 15px;
}

.currentWeatherInfo {
  font-weight: 500;
}

.temperature {
  margin-top: 6px;
}

.forecastContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .weatherContainer {
    padding: 10px 20px;
  }

  .dateAndLocation {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    font-size: 15px;
  }

  .city {
    font-size: 34px;
  }

  .currentWeather {
    justify-content: left;
    text-align: left;
    margin-top: 25px;
  }

  .currentWeatherInfo {
    margin-left: 60px;
  }
}
