.forecastElement {
  flex-basis: 50%;
  font-size: 15px;
  margin-top: 18px;
}

.date {
  margin-bottom: 10px;
}

.temperature {
  margin-top: 8px;
}

@media screen and (min-width: 576px) {
  .forecastElement {
    flex-basis: 20%;
  }
}
